h1 {
    color: #32a9c4;
    font-family: Brush Script MT, Brush Script Std, cursive;
    /* Jazz LET, fantasy; */
    text-align: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
}

section {
    font-size: 250%;
    /* color: #be4ea6; */
    color: rgb(247, 214, 245);
    text-align: left;
    padding: 0px 0px 0px 50px;
}

header {
    /* background-image: url(../images/flywheel.jpg); */
    /* opacity: 0.75; */
    /* padding: 2%; */
    font-size: 250%;
    color: #32a9c4;
    text-align: left;
    /* font-family: ; */
    /* padding: 0px 0px 0px 100px; */
}

body {
    background-color: black;
    background-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #34495e;
}

.slidershow {
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 1000%;
    height: 100%;
    display: flex;
}

.slide {
    width: 10%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -10%;
}

#r3:checked~.s1 {
    margin-left: -20%;
}

#r4:checked~.s1 {
    margin-left: -30%;
}

#r5:checked~.s1 {
    margin-left: -40%;
}

#r6:checked~.s1 {
    margin-left: -50%;
}

#r7:checked~.s1 {
    margin-left: -60%;
}

#r8:checked~.s1 {
    margin-left: -70%;
}

#r9:checked~.s1 {
    margin-left: -80%;
}

#r9:checked~.s1 {
    margin-left: -80%;
}

#r10:checked~.s1 {
    margin-left: -90%;
}


/* .transition-fade {
    opacity: 1;
    transition: 500ms;
} */


/* html.is-animating .transition-fade {
    opacity: 0;
} */


/* body {
    background-image: url(../images/milky-way.jpg);
    background-size: 100%;
} */