h1 {
    color: #32a9c4;
    font-family: Brush Script MT, Brush Script Std, cursive;
    /* Jazz LET, fantasy; */
    text-align: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
}

section {
    font-size: 250%;
    /* color: #be4ea6; */
    color: rgb(247, 214, 245);
    text-align: left;
    padding: 0px 0px 0px 50px;
}

header {
    /* background-image: url(../images/flywheel.jpg); */
    /* opacity: 0.75; */
    /* padding: 2%; */
    font-size: 250%;
    color: #32a9c4;
    text-align: left;
    /* font-family: ; */
    /* padding: 0px 0px 0px 100px; */
}

body {
    background-color: black;
    background-size: 100%;
}


/* .transition-fade {
    opacity: 1;
    transition: 500ms;
} */


/* html.is-animating .transition-fade {
    opacity: 0;
} */


/* body {
    background-image: url(../images/milky-way.jpg);
    background-size: 100%;
} */